html,
body {
  height: 100%;
  font-family: $--font-lato-regular;
}

.g-main-container {
  display: flex;
  width: 100%;
  height: 100%;
}

a {
  color: $--color-text-primary;
}

.p-page {
  display: flex;
  width: 100%;
  height: 100%;
}

.g-sidebar {
  flex: 0 1 60px;
}

.g-content {
  flex: 1 1 auto;
  background: $--color-main-background;

  &__header {
    height: 60px;
    display: flex;
    align-items: center;
    background: $--color-white;
    padding: 0 20px;
  }

  &__body {
    padding: 20px;
    box-sizing: border-box;
  }
}

@import "./form/module";