<nav class="nav">
    <div class="nav-inner">
        <div class="nav-item nav-item--toggle">
            <div class="nav-item-icon">
                <i class="icon icon-menu"></i>
            </div>
            <div class="nav-item-text">
                <img data-v-16eb37d0="" src="/assets/images/logo-menu.png" alt="">
            </div>
        </div>
        <a routerLink="/home" class="nav-item" routerLinkActive="router-link-exact-active nav-item--active">
            <div class="nav-item-icon">
                <img src="/assets/icons/sidebar/dashboard.svg" alt="">
            </div>
            <div class="nav-item-text">
                Рабочий стол
            </div>
        </a>

        <button data-v-16eb37d0="" class="nav-item">
            <div data-v-16eb37d0="" class="nav-item-text">
                Logout
            </div>
        </button>
    </div>
</nav>