.btn {
  display: block;
  margin-bottom: 16px;
  width: 100%;
  box-sizing: border-box;
  text-align: center;
  font-size: 16px;
  outline: none;
  font-family: $--font-lato-black;
  border: none;
  cursor: pointer;
  text-transform: uppercase;
  position: relative;
  border-radius: 20px;

  &_default {
    background: transparent;
  }
}